# Ignore compiled Python bytecode files
*.pyc
# Ignore Python cache directories
__pycache__/
# Ignore environment-specific settings
.env
# Ignore editor-specific files
.vscode/
.idea/
*.sublime-*
/venv
/config
.vs
/logs
/sensor_data
app_log.log
test.ipynb